<div class="wrapper">
  <div class="d-md-flex align-items-md-center">
    <div class="h3">Products</div>
    <div class="ml-auto d-flex align-items-center views">
      <span class="btn text-#BD6000">
        <span class="fas fa-th px-md-2 px-1"></span>
        <span>Grid view</span>
      </span>
      <span class="btn">
        <span class="fas fa-list-ul"></span>
        <span class="px-md-2 px-1">List view</span>
      </span>
      <span class="color-label px-md-2 px-1">428</span>
      <span class="text-muted">Products</span>
    </div>
  </div>
  <div class="d-lg-flex align-items-lg-center pt-2">
    <div class="form-inline d-flex align-items-center my-2 mr-lg-2 radio bg-light border">
      <label class="options">Most Popular <input type="radio" name="radio" />
        <span class="checkmark"></span>
      </label>
      <label class="options">Cheapest <input type="radio" name="radio" checked />
        <span class="checkmark"></span>
      </label>
      <label class="options">Recent <input type="radio" name="radio" />
        <span class="checkmark"></span>
      </label>
    </div>
    <div class="form-inline d-flex align-items-center my-2 checkbox bg-light border mx-lg-2">
      <label class="tick">category1<input type="checkbox" checked="checked" />
        <span class="check"></span>
      </label>
      <span class="text-#BD6000 px-2 count"> 328</span>
    </div>
    <div class="form-inline d-flex align-items-center my-2 checkbox bg-light border mx-lg-2">
      <label class="tick">Bio <input type="checkbox" /> <span class="check"></span>
      </label>
      <span class="text-#BD6000 px-2 count"> 72</span>
    </div>
    <div class="form-inline d-flex align-items-center my-2 checkbox bg-light border mx-lg-2">
      <label class="tick">Tunis <input type="checkbox" /> <span class="check"></span>
      </label>
      <span class="border px-1 mx-2 mr-3 font-weight-bold count"> 12</span>
      <select name="country" id="country" class="bg-light">
        <option value="" hidden>State </option>
        <option value="Sousse">Sousse</option>
        <option value="Sfax">Sfax</option>
        <option value="Bizerte">Bizerte</option>
      </select>
    </div>
  </div>
  <div class="d-sm-flex align-items-sm-center pt-2 clear">
    <div class="text-muted filter-label">Applied Filters:</div>
    <div class="color-label font-weight-bold p-0 px-1 mx-sm-1 mx-0 my-sm-0 my-2">
      Selected Filtre <span class="px-1 close">&times;</span>
    </div>
    <div class="color-label font-weight-bold p-0 px-1 mx-sm-1 mx-0">
      Selected Filtre <span class="px-1 close">&times;</span>
    </div>
  </div>

  <div id="mobile-filter">
    <div class="py-3">
      <h5 class="font-weight-bold">Categories</h5>
      <ul class="list-group">
        <li routerLink="/catagory/1" routerLinkActive="active-link"
        class="list-group-item list-group-item-action d-flex justify-content-between align-items-center category">
          Books  
          <span class="badge badge-primary badge-pill">328</span>
        </li>
        <li routerLink="/catagory/2" routerLinkActive="active-link"
        class="list-group-item list-group-item-action d-flex justify-content-between align-items-center category">
          Coffee Mugs
           <span class="badge badge-primary badge-pill">112</span>
        </li>
        <li routerLink="/catagory/3" routerLinkActive="active-link"
         class="list-group-item list-group-item-action d-flex justify-content-between align-items-center category">
          Mouse Pads
          <span class="badge badge-primary badge-pill">32</span>
        </li>
        <li routerLink="/catagory/4" routerLinkActive="active-link"
         class="list-group-item list-group-item-action d-flex justify-content-between align-items-center category">
          Luggage Tags
           <span class="badge badge-primary badge-pill">48</span>
        </li>
      </ul>
    </div>
    <div class="py-3">
      <h5 class="font-weight-bold">Brands</h5>
      <form class="brand">
        <div class="form-inline d-flex align-items-center py-1">
          <label class="tick">Brand 1 <input type="checkbox" /> <span class="check"></span>
          </label>
        </div>
        <div class="form-inline d-flex align-items-center py-1">
          <label class="tick">Brand 2  <input type="checkbox" checked />
            <span class="check"></span>
          </label>
        </div>
        <div class="form-inline d-flex align-items-center py-1">
          <label class="tick">Brand 3 <input type="checkbox" checked />
            <span class="check"></span>
          </label>
        </div>
        <div class="form-inline d-flex align-items-center py-1">
          <label class="tick">Brand 4 <input type="checkbox" />
            <span class="check"></span>
          </label>
        </div>
        <div class="form-inline d-flex align-items-center py-1">
          <label class="tick">Brand 5 <input type="checkbox" />
            <span class="check"></span>
          </label>
        </div>
      </form>
    </div>
    <div class="py-3">
      <h5 class="font-weight-bold">Rating</h5>
      <form class="rating">
        <div class="form-inline d-flex align-items-center py-2">
          <label class="tick"><span class="fas fa-star"></span>
            <span class="fas fa-star"></span> <span class="fas fa-star"></span>
            <span class="fas fa-star"></span> <span class="fas fa-star"></span>
            <input type="checkbox" /> <span class="check"></span>
          </label>
        </div>
        <div class="form-inline d-flex align-items-center py-2">
          <label class="tick">
            <span class="fas fa-star"></span> <span class="fas fa-star"></span>
            <span class="fas fa-star"></span> <span class="fas fa-star"></span>
            <span class="far fa-star px-1 text-muted"></span>
            <input type="checkbox" /> <span class="check"></span>
          </label>
        </div>
        <div class="form-inline d-flex align-items-center py-2">
          <label class="tick"><span class="fas fa-star"></span>
            <span class="fas fa-star"></span> <span class="fas fa-star"></span>
            <span class="far fa-star px-1 text-muted"></span>
            <span class="far fa-star px-1 text-muted"></span>
            <input type="checkbox" /> <span class="check"></span>
          </label>
        </div>
        <div class="form-inline d-flex align-items-center py-2">
          <label class="tick"><span class="fas fa-star"></span>
            <span class="fas fa-star"></span>
            <span class="far fa-star px-1 text-muted"></span>
            <span class="far fa-star px-1 text-muted"></span>
            <span class="far fa-star px-1 text-muted"></span>
            <input type="checkbox" /> <span class="check"></span>
          </label>
        </div>
        <div class="form-inline d-flex align-items-center py-2">
          <label class="tick">
            <span class="fas fa-star"></span>
            <span class="far fa-star px-1 text-muted"></span>
            <span class="far fa-star px-1 text-muted"></span>
            <span class="far fa-star px-1 text-muted"></span>
            <span class="far fa-star px-1 text-muted"></span>
            <input type="checkbox" /> <span class="check"></span>
          </label>
        </div>
      </form>
    </div>
  </div>
  <div class="content py-md-0 py-3">
    <section id="sidebar">
      <div class="py-3">
        <h5 class="font-weight-bold">Categories</h5>
        <ul class="list-group">
          <li class="list-group-item list-group-item-action d-flex justify-content-between align-items-center category">
            vegetables <span class="badge badge-primary badge-pill">328</span>
          </li>
          <li class="list-group-item list-group-item-action d-flex justify-content-between align-items-center category">
            Fruits <span class="badge badge-primary badge-pill">112</span>
          </li>
          <li class="list-group-item list-group-item-action d-flex justify-content-between align-items-center category">
            Kitchen Accessories
            <span class="badge badge-primary badge-pill">32</span>
          </li>
          <li class="list-group-item list-group-item-action d-flex justify-content-between align-items-center category">
            Chefs Tips <span class="badge badge-primary badge-pill">48</span>
          </li>
        </ul>
      </div>
      <div class="py-3">
        <h5 class="font-weight-bold">Brands</h5>
        <form class="brand">
          <div class="form-inline d-flex align-items-center py-1">
            <label class="tick">Royal Fields <input type="checkbox" />
              <span class="check"></span>
            </label>
          </div>
          <div class="form-inline d-flex align-items-center py-1">
            <label class="tick">Crasmas Fields <input type="checkbox" checked />
              <span class="check"></span>
            </label>
          </div>
          <div class="form-inline d-flex align-items-center py-1">
            <label class="tick">Vegetarisma Farm <input type="checkbox" checked />
              <span class="check"></span>
            </label>
          </div>
          <div class="form-inline d-flex align-items-center py-1">
            <label class="tick">Farmar Field Eve <input type="checkbox" />
              <span class="check"></span>
            </label>
          </div>
          <div class="form-inline d-flex align-items-center py-1">
            <label class="tick">True Farmar Steve <input type="checkbox" />
              <span class="check"></span>
            </label>
          </div>
        </form>
      </div>
      <div class="py-3">
        <h5 class="font-weight-bold">Rating</h5>
        <form class="rating">
          <div class="form-inline d-flex align-items-center py-2">
            <label class="tick"><span class="fas fa-star"></span>
              <span class="fas fa-star"></span>
              <span class="fas fa-star"></span>
              <span class="fas fa-star"></span>
              <span class="fas fa-star"></span> <input type="checkbox" />
              <span class="check"></span>
            </label>
          </div>
          <div class="form-inline d-flex align-items-center py-2">
            <label class="tick">
              <span class="fas fa-star"></span>
              <span class="fas fa-star"></span>
              <span class="fas fa-star"></span>
              <span class="fas fa-star"></span>
              <span class="far fa-star px-1 text-muted"></span>
              <input type="checkbox" /> <span class="check"></span>
            </label>
          </div>
          <div class="form-inline d-flex align-items-center py-2">
            <label class="tick"><span class="fas fa-star"></span>
              <span class="fas fa-star"></span>
              <span class="fas fa-star"></span>
              <span class="far fa-star px-1 text-muted"></span>
              <span class="far fa-star px-1 text-muted"></span>
              <input type="checkbox" /> <span class="check"></span>
            </label>
          </div>
          <div class="form-inline d-flex align-items-center py-2">
            <label class="tick"><span class="fas fa-star"></span>
              <span class="fas fa-star"></span>
              <span class="far fa-star px-1 text-muted"></span>
              <span class="far fa-star px-1 text-muted"></span>
              <span class="far fa-star px-1 text-muted"></span>
              <input type="checkbox" /> <span class="check"></span>
            </label>
          </div>
          <div class="form-inline d-flex align-items-center py-2">
            <label class="tick">
              <span class="fas fa-star"></span>
              <span class="far fa-star px-1 text-muted"></span>
              <span class="far fa-star px-1 text-muted"></span>
              <span class="far fa-star px-1 text-muted"></span>
              <span class="far fa-star px-1 text-muted"></span>
              <input type="checkbox" /> <span class="check"></span>
            </label>
          </div>
        </form>
      </div>
    </section>



    <!-- Products Section -->
    <section id="products">
      <div class="container-fluid">
        <div class="row">
          <div *ngFor="let tempProduct of products"
            class="col-lg-4 col-md-6 col-sm-10 offset-md-0 offset-sm-1 mt-3 mb-3">
            <div class="card">
              <img class="card-img-top" src="{{tempProduct.imageUrl}}" />
              <div class="card-body">
                <h6 class="font-weight-bold pt-1">{{ tempProduct.name}}</h6>
                <div class="text-muted description">
                  {{ tempProduct.description}}
                </div>
                <div class="d-flex align-items-center product">
                  <span class="fas fa-star"></span>
                  <span class="fas fa-star"></span>
                  <span class="fas fa-star"></span>
                  <span class="fas fa-star"></span>
                  <span class="far fa-star"></span>
                </div>
                <div class="d-flex align-items-center justify-content-between pt-3">
                  <div class="d-flex flex-column">
                    <div class="h6 font-weight-bold">{{ tempProduct.unitPrice | currency:'USD'}}</div>
                  </div>
                  <div class="btn btn-primary">Add To Cart</div>
                </div>
              </div>
            </div>


          </div>




        </div>
      </div>
    </section>
  </div>
</div>


<!-- -->
