<div class="wrapper">
  <div class="d-md-flex align-items-md-center">
    <h2>Products</h2>
    <div class="ml-auto d-flex align-items-center views">
      <span class="btn text-#BD6000">
        <span class="fas fa-th px-md-2 px-1"></span>
        <span>Grid view</span>
      </span>
      <span class="btn">
        <span class="fas fa-list-ul"></span>
        <span class="px-md-2 px-1">List view</span>
      </span>
      <span class="color-label px-md-2 px-1">100</span>
      <span class="text-muted">Products</span>
    </div>
  </div>

  <!--Menu Sidebar-->
  <div class="content py-md-0 py-3">
    <section id="sidebar">
      <div class="py-3">
        <h5 class="font-weight-bold">Categories</h5>
        <app-product-category-menu></app-product-category-menu>



      </div>
      <div class="py-3">
        <h5 class="font-weight-bold">Brands</h5>
        <form class="brand">
          <div class="form-inline d-flex align-items-center py-1">
            <label class="tick">Brand 1 <input type="checkbox" />
              <span class="check"></span>
            </label>
          </div>
          <div class="form-inline d-flex align-items-center py-1">
            <label class="tick">Brand 2 <input type="checkbox" checked />
              <span class="check"></span>
            </label>
          </div>
          <div class="form-inline d-flex align-items-center py-1">
            <label class="tick">Brand 3 <input type="checkbox" checked />
              <span class="check"></span>
            </label>
          </div>
          <div class="form-inline d-flex align-items-center py-1">
            <label class="tick">Brand 4<input type="checkbox" />
              <span class="check"></span>
            </label>
          </div>
        </form>
      </div>
      <div class="py-3">
        <h5 class="font-weight-bold">Rating</h5>
        <form class="rating">
          <div class="form-inline d-flex align-items-center py-2">
            <label class="tick"><span class="fas fa-star"></span>
              <span class="fas fa-star"></span>
              <span class="fas fa-star"></span>
              <span class="fas fa-star"></span>
              <span class="fas fa-star"></span> <input type="checkbox" />
              <span class="check"></span>
            </label>
          </div>
          <div class="form-inline d-flex align-items-center py-2">
            <label class="tick">
              <span class="fas fa-star"></span>
              <span class="fas fa-star"></span>
              <span class="fas fa-star"></span>
              <span class="fas fa-star"></span>
              <span class="far fa-star px-1 text-muted"></span>
              <input type="checkbox" /> <span class="check"></span>
            </label>
          </div>
          <div class="form-inline d-flex align-items-center py-2">
            <label class="tick"><span class="fas fa-star"></span>
              <span class="fas fa-star"></span>
              <span class="fas fa-star"></span>
              <span class="far fa-star px-1 text-muted"></span>
              <span class="far fa-star px-1 text-muted"></span>
              <input type="checkbox" /> <span class="check"></span>
            </label>
          </div>
          <div class="form-inline d-flex align-items-center py-2">
            <label class="tick"><span class="fas fa-star"></span>
              <span class="fas fa-star"></span>
              <span class="far fa-star px-1 text-muted"></span>
              <span class="far fa-star px-1 text-muted"></span>
              <span class="far fa-star px-1 text-muted"></span>
              <input type="checkbox" /> <span class="check"></span>
            </label>
          </div>
          <div class="form-inline d-flex align-items-center py-2">
            <label class="tick">
              <span class="fas fa-star"></span>
              <span class="far fa-star px-1 text-muted"></span>
              <span class="far fa-star px-1 text-muted"></span>
              <span class="far fa-star px-1 text-muted"></span>
              <span class="far fa-star px-1 text-muted"></span>
              <input type="checkbox" /> <span class="check"></span>
            </label>
          </div>
        </form>
      </div>
    </section>



    <!-- Products Section -->
    <section id="products">
      <div class="container-fluid">
        <div class="row">
          <div *ngFor="let tempProduct of products"
            class="col-lg-4 col-md-6 col-sm-10 offset-md-0 offset-sm-1 mt-3 mb-3">
            <div class="card">
              <a routerLink="/products/{{tempProduct.id}}">
                <img class="card-img-top" src="{{tempProduct.imageUrl}}" />
              </a>

              <div class="card-body">
                <a routerLink="/products/{{tempProduct.id}}">
                  <h6 class="font-weight-bold pt-1">{{ tempProduct.name}}</h6>
                </a>

                <div class="text-muted description">
                  {{ tempProduct.description}}
                </div>
                <div class="d-flex align-items-center product">
                  <span class="fas fa-star"></span>
                  <span class="fas fa-star"></span>
                  <span class="fas fa-star"></span>
                  <span class="fas fa-star"></span>
                  <span class="far fa-star"></span>
                </div>
                <div class="d-flex align-items-center justify-content-between pt-3">
                  <div class="d-flex flex-column">
                    <div class="h6 font-weight-bold">{{ tempProduct.unitPrice | currency:' Tnd'}}</div>
                  </div>
                  <button class="btn btn-primary" 
                  (click)="addToCart(tempProduct)">
                    <span class="fas fa-shopping-cart"></span>
                  Add To Cart</button>
                </div>
              </div>
            </div>
          </div>


          <div *ngIf="products?.length == 0" class="alert alert-warning col-md-12" role="alert"> No Products Found .
          </div>
        </div>


         <!-- begin footer -->
         <div class="footer-pagination">
          <div class="row">
              <div class="col-md-6"></div>

              <div class="col-md-6">
                  <div class="row">
                      <div class="col-md-9 " >
                      
                          <ngb-pagination [(page)]="thePageNumber"
                                          [pageSize]="thePageSize"
                                          [collectionSize]="theTotalElem"
                                          (pageChange)="listProducts()">

                          </ngb-pagination>

                      </div>

                      <div class="col-md-3 float-left " style="text-align: right; margin-bottom: 10%;">
                          <span class="mr-2">Page Size</span>

                          <select>
                              <option selected="true">5</option>
                              <option>10</option>
                              <option>20</option>
                              <option>50</option>
                          </select>
                      </div>

                  </div>
              </div>

          </div>
      </div>
      <!-- end footer -->
      </div>
    </section>
  </div>
</div>